* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Noto Sans JP', sans-serif;
}

img {
    width: 100%;
}

:root {
    --blue: #0084FD;
    --lightblue: #B5DDFF;
    --purple: #9792E4;
    --dark: #333333;
    --yellow: #FDC15F;
}

ul,
ol,
menu,
li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: currentColor;
}

/* CONTAINER */

.container {
    max-width: 1140px;
    margin: 0 auto;
}

/* ROW */

.row {
    display: flex;
    flex-wrap: wrap;    
}

.hero .row {
    gap: 16px;
    padding-top: 40px;
    padding-bottom: 80px;
}

.space-between {
    justify-content: space-between;
}

/* COLUMN */

.hero .col-3 {
    flex-basis: calc(100%/3 - 41px / 3);
}

.hero .col-2 {
    flex-basis: calc(100%*2/3 - 18px);
}

.col-1 {
    flex-basis: 100%;
}

.col-3 {
    flex-basis: calc(100%/3);
}

.col-2 {
    flex-basis: calc(100%/2);
}

/* BUTTONS */

.button {

}

.button--white {

}

/* HEADER */

.main-header {
    background-color: var(--blue);
    padding: 19px 0;
    color:  white;
}

.main-header nav.row {
    align-items: center;
}

.nav-item a {
    line-height: 38px;
    font-size: 16px;
    padding: 0 16px;
}

.hamburger {
    display: none;
}

/* COLOR */

.white {
    color: white;
}

.black {
    color: black;
}

.light-purple {
    color: rgb(151,146,228);
}

.bg-white {
    background-color: white;
}

.bg-light-purple {
    background-color: rgb(151,146,228);
}


/* TEXT STYLE */

.em {
    font-style: oblique;
}

.txt-center {
    text-align: center;
}

/* MEDIAUERY HEADER */

@media only screen and (max-width: 991px) {
    .hamburger {
        display: block;
    }

    .header-nav {
        display: none;
    }
}

/* HERO */

.card {
    background-color: var(--lightblue);
    padding: 20px;
    border-radius: 20px;
    min-height: 200px;
}

/* STRATEGIC PLAN APP DEV */

.strategic-plan-appdev {
    background-color: rgb(151,146,228);
    min-height: 600px; /* DEBUG RULE */
}

.planning-img-1 {
    padding: 70px 30px 90px 0;
    width: 500px;
}
.strategic-plan-appdev h1.white {
    font-size: 40px;
    padding-bottom: 60px;
}

.strategic-plan-appdev p {
    padding-bottom: 70px;
    font-size: 21px;
}

.strategic-plan-appdev .small-card {
    border-radius: 35px;
    margin-top: 250px;
    margin-bottom: 115px;
}

.strategic-plan-appdev p.em {
    font-size: 22px;
}

.planning-img-2 {
    width: 350px;
    margin: 0 110px;
}

.strategic-plan-appdev h2 {
    font-size: 29px;
}

/* TESTIMONIALS */

.testimonials {
    padding-bottom: 100px;
}

.title-testimonials {
    font-size: 30px;
}

.testimonials .row {
    justify-content: center;
    margin-top: 60px;
    margin-left: 80px;
    gap: 30px;
}

.testimonials h2.light-purple {
    font-size: 60px;
    margin: 40px 0;
}

.p-testimonials-sup {
    text-align: center;
    font-size: 20px;
}

.testimonials div.col-1 {
    min-height: 175px; /* DEBUG RULE */
    padding: 40px;
    border-radius: 25px;
}

/* BENEFITS */

section.benefits {
    min-height: 500px; /* DEBUG RULE */
}
.benefits h1.white {
    text-align: center;
    padding: 28px;
    font-size: 42px;
}

.benefits .row {
    justify-content: center;
    align-items: center;
    gap: 22px;
}

.benefits .col-3 {
    flex-basis: calc(100%/3 - 50px / 3);
    border-radius: 25px;
    min-height: 120px; /* DEBUG RULE */
}

/* MEDIA */

@media only screen and (max-width: 575px) {
    /* HERO */
    .hero [class^="col-"] {
        flex-basis: calc(100%);
    }
    /* STRATEGIC PLAN */
    .strategic-plan-appdev [class^="col-"] {
        flex-basis: calc(100%);
    }

    .strategic-plan-appdev div.container {
        margin: 0 auto;
    }
    .strategic-plan-appdev .row {
        align-items: center;
        justify-content: center;
    }

    .planning-img-1 {
        padding: 0;
        width: 400px;
    }

    .strategic-plan-appdev .small-card {
        border-radius: 35px;
        margin-top: 10px;
        margin-bottom: 30px;
    }

    .planning-img-2 {
        width: 300px;
        margin: 0 56px;
    }

    /* TESTIMONIALS */
    .testimonials div.col-1 {
        flex-basis: 100%;
    }

    .testimonials .row {
        margin: 0;
        padding: 0;
    }

    .testimonials h1.light-purple {
        text-align: center;
        font-size: 40px;
    }

    .testimonials h2.light-purple {
        text-align: center;
        font-size: 50px;


    /* BENEFITS */
    .benefits [class^="col-"] {
        flex-basis: 100%;
    }

}




