* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Noto Sans JP', sans-serif;
}

img {
    width: 100%;
}

:root {
    --blue: #0084FD;
    --lightblue: #B5DDFF;
    --purple: #9792E4;
    --dark: #333333;
    --yellow: #FDC15F;
}

ul,
ol,
menu,
li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: currentColor;
}

/* CONTAINER */

.container {
    max-width: 1140px;
    margin: 0 auto;
}

/* ROW */

.row {
    display: flex;
    flex-wrap: wrap;    
}

.hero .row {
    gap: 16px;
    padding-top: 40px;
    padding-bottom: 80px;
}

.space-between {
    justify-content: space-between;
}

/* COLUMN */

.hero .col-3 {
    flex-basis: calc(100%/3 - 41px / 3);
}

.hero .col-2 {
    flex-basis: calc(100%*2/3 - 18px);
}

.col-3 {
    flex-basis: calc(100%/3);
}

.col-2 {
    flex-basis: calc(100%/2);
}

/* BUTTONS */

.button {

}

.button--white {

}

/* HEADER */

.main-header {
    background-color: var(--blue);
    padding: 19px 0;
    color:  white;
}

.main-header nav.row {
    align-items: center;
}

.nav-item a {
    line-height: 38px;
    font-size: 16px;
    padding: 0 16px;
}

.hamburger {
    display: none;
}

/* COLOR */

.white {
    color: white;
}

.black {
    color: black;
}

.bg-white {
    background-color: white;
}

/* TEXT STYLE */

.em {
    font-style: oblique;
}

.txt-center {
    text-align: center;
}

/* MEDIAUERY HEADER */

@media only screen and (max-width: 991px) {
    .hamburger {
        display: block;
    }

    .header-nav {
        display: none;
    }
}

/* HERO */

.card {
    background-color: var(--lightblue);
    padding: 20px;
    border-radius: 20px;
    min-height: 200px;
}

/* STRATEGIC PLAN APP DEV */

.strategic-plan-appdev {
    background-color: rgb(151,146,228);
    min-height: 600px; /* DEBUG RULE */
}

.planning-img-1 {
    padding: 70px 30px 90px 0;
    width: 500px;
}
.strategic-plan-appdev h1.white {
    font-size: 40px;
    padding-bottom: 60px;
}

.strategic-plan-appdev p {
    padding-bottom: 70px;
    font-size: 21px;
}

.strategic-plan-appdev .small-card {
    border-radius: 35px;
    margin-top: 250px;
    margin-bottom: 115px;
}

.strategic-plan-appdev p.em {
    font-size: 22px;
}

.planning-img-2 {
    width: 350px;
    margin: 0 110px;
}

.strategic-plan-appdev h2 {
    font-size: 29px;
}

/* MEDIA */

@media only screen and (max-width: 575px) {
    .hero [class^="col-"] {
        flex-basis: calc(100%);
    }
    .strategic-plan-appdev [class^="col-"] {
        flex-basis: calc(100%);
        padding: 0;
        margin: 0 auto;
    }

}




